<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
autoReload="true" internalLogLevel="info" internalLogFile="D:\LogsDemo\NLogs\internalLog.txt" throwConfigExceptions="true">

  <extensions>
    <add assembly="NLog.Web.AspNetCore" />
  </extensions>

  <targets async="true">

    <!-- writes to text file -->
    <target xsi:type="File" name="logfile" fileName="D:\LogsDemo\NLogs\applicationlogs-${shortdate}.txt"
      layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />
  
    <!-- writes to json file -->
    <target xsi:type="File" name="jsonfile" fileName="D:\LogsDemo\NLogs\${logger}.json">
      <layout xsi:type="JsonLayout">
        <attribute name="time" layout="${longdate}" />
        <attribute name="level" layout="${level:upperCase=true}"/>
        <attribute name="logger" layout="${logger}" />
        <attribute name="message" layout="${message}" />
        <attribute name="exception" layout="${exception:format=tostring}" />
        <attribute name="eventProperties" encode="false" >
          <layout type='JsonLayout' includeAllProperties="true"  maxRecursionLimit="2"/>
        </attribute>
      </layout>
    </target>

    <!-- writes to database through query -->
    <target name="database_query" xsi:type="Database">
      <connectionString>[your connectin string]</connectionString>
      <commandText>
        insert into dbo.NLog (
        MachineName, Logged, Level, Message,
        Logger, Properties, Callsite, Exception
        ) values (
        @MachineName, @Logged, @Level, @Message,
        @Logger, @Properties, @Callsite, @Exception
        );
      </commandText>
      <parameter name="@MachineName" layout="${machinename}" />
      <parameter name="@Logged" layout="${date}" />
      <parameter name="@Level" layout="${level}" />
      <parameter name="@Message" layout="${message}" />
      <parameter name="@Logger" layout="${logger}" />
      <parameter name="@Properties" layout="${all-event-properties:separator=|}" />
      <parameter name="@Callsite" layout="${callsite}" />
      <parameter name="@Exception" layout="${exception:tostring}" />
    </target>

    <!-- writes to database through sp -->
    <target name="database_sp"
        xsi:type="Database"
        connectionString="[your connection string]"
        commandType="StoredProcedure"
        commandText="[dbo].[WriteLog_NLog]">
      <parameter name="@machineName"    layout="${machinename}" />
      <parameter name="@logged"         layout="${date}" />
      <parameter name="@level"          layout="${level}" />
      <parameter name="@message"        layout="${message}" />
      <parameter name="@logger"         layout="${logger}" />
      <parameter name="@properties"     layout="${all-event-properties:separator=|}" />
      <parameter name="@callsite"       layout="${callsite}" />
      <parameter name="@exception"      layout="${exception:tostring}" />
    </target>

    <!-- writes to splunk -->
    <target name="splunk"
            xsi:type="SplunkHttpEventCollector"
            serverUrl="[your splunk host]"
            token="[your splunk token]"
            channel="channel-guid"
            source="${logger}"
            sourceType="_json"
            index=""
            retriesOnError="0"
            batchSizeBytes="0"
            batchSizeCount="0"
            includeEventProperties="true"
            includePositionalParameters="false"
            includeMdlc="false"
            maxConnectionsPerServer="10"
            ignoreSslErrors="false" >
      <contextproperty name="host" layout="${machinename}" />
      <contextproperty name="threadid" layout="${threadid}" />
      <contextproperty name="logger" layout="${logger}" />
    </target>

  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <logger name="*" minlevel="Trace" writeTo="logfile" />
    <logger name="*" minlevel="Trace" writeTo="jsonfile" />
    <logger name="*" minlevel="Trace" writeTo="database_query" />
    <logger name="*" minlevel="Trace" writeTo="database_sp" />
    <logger name="*" minlevel="Trace" writeTo="splunk" />

  </rules>

</nlog>